$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

$BG_GRAY: #f6f7f8;
$TEXT_GRAY: #94a2ad;
$BLUE: #0000ff;
$TEXT_CLICKED: #586cf5;

$PRIMARY: #586cf5;
