@use '/src/styles/constants/colors';

.userBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  background-color: colors.$BG_GRAY;
  border-bottom: 1px solid colors.$GRAYE;

  .bell,
  .setting {
    margin-right: 20px;
    cursor: pointer;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    cursor: pointer;

    > span {
      color: colors.$TEXT_GRAY;
    }
  }
}
