@use '/src/styles/constants/colors';

.trendWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 900px;
  background-color: colors.$GRAYA;
}

.trendChart {
  width: 950px;
  height: 450px;
  background-color: colors.$WHITE;
}

.snsListWrap {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 10px;
}

.snsList {
  margin-right: 20px;
}

.trendDetailWrap {
  width: 950px;
  height: 310px;
  margin-top: 50px;
  overflow: scroll;
  overflow-y: hidden;
  background-color: colors.$GRAYE;
}

.trendDetailWrap::-webkit-scrollbar {
  width: 60px;
}

.trendDetailWrap::-webkit-scrollbar-thumb {
  background-color: #d1d8dc;
  border-radius: 10px;
}

.trendReportList {
  display: flex;
  justify-content: space-between;
  width: 2000px;
  padding: 15px;
  color: colors.$GRAYA;
  text-align: right;
  border-top: 1px solid colors.$GRAYA;
  border-bottom: 1px solid colors.$GRAYA;

  span {
    width: 150px;
  }
}

.chartTitle {
  margin-left: 190px;
}

.total {
  color: colors.$BLUE;
}
