@use '/src/styles/constants/colors';

.mediaData {
  width: 100%;

  .title {
    font-size: large;
    font-weight: 600;
  }
}

.trendWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 900px;
  padding: 40px;
  background-color: white;
  background-color: colors.$GRAYA;
  border-radius: 20px;
}

.trendChart {
  width: 950px;
  height: 450px;
  background-color: colors.$WHITE;
}

.trendDetailWrap {
  width: 950px;
  height: 310px;
  margin-top: 50px;
  overflow: scroll;
  overflow-y: hidden;
  background-color: colors.$GRAYE;
}

.trendDetailWrap::-webkit-scrollbar {
  width: 60px;
}

.trendDetailWrap::-webkit-scrollbar-thumb {
  background-color: #d1d8dc;
  border-radius: 10px;
}

.trendReportList {
  display: flex;
  justify-content: space-between;
  width: 2000px;
  padding: 15px;
  color: colors.$GRAYA;
  text-align: right;
  border-top: 1px solid colors.$GRAYA;
  border-bottom: 1px solid colors.$GRAYA;

  span {
    width: 150px;
  }
}

.chartTitle {
  margin-left: 190px;
}

.total {
  color: colors.$BLUE;
}
