@use '/src/styles/constants/colors';

.mediaData {
  width: 100%;

  .title {
    font-size: large;
    font-weight: 600;
  }
}

.trendWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 900px;
  background-color: colors.$WHITE;
  border-radius: 20px;
}

.trendChart {
  width: 950px;
  height: 450px;
  background-color: colors.$WHITE;
}

.snsListWrap {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 10px;
}

.snsList {
  margin-right: 20px;
}

.trendDetailWrap {
  width: 950px;
  height: 310px;
  margin-top: 50px;
  overflow: scroll;
  overflow-y: hidden;
  background-color: colors.$WHITE;
}

.trendDetailWrap::-webkit-scrollbar {
  width: 60px;
}

.trendDetailWrap::-webkit-scrollbar-thumb {
  background-color: #d1d8dc;
  border-radius: 10px;
}

.trendIndex {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  padding: 15px;
  border-top: 1px solid colors.$GRAYD;
  border-bottom: 1px solid colors.$GRAYD;

  th {
    width: 110px;
    color: colors.$GRAYA;
    text-align: right;
  }
}

.total {
  color: colors.$PRIMARY;
}
