@use '/src/styles/constants/colors';

.snsReports {
  display: flex;
  justify-content: space-between;
  width: 2000px;
  padding: 15px;
  border-bottom: 1px solid colors.$GRAYA;
}

.snsDetail {
  width: 150px;
  text-align: right;
}

.snsTitle {
  width: 65px;
}
