@use "/src/styles/constants/colors";

.trendWrap {
  max-width: 1000px;
  height: 900px;
  background-color: colors.$GRAYA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trendChart {
  width: 950px;
  background-color: colors.$WHITE;
  height: 450px;
}
.trendDetailWrap {
  background-color: colors.$GRAYE;
  margin-top: 50px;
  width: 950px;
  height: 310px;
  overflow: scroll;
  overflow-y: hidden;
}
.trendReportList {
  display: flex;
  border-top: 1px solid colors.$BLACK;
  border-bottom: 1px solid colors.$BLACK;
  padding: 15px;
  justify-content: space-between;
  width: 1500px;
}
.chartTitle{
  margin-left: 200px;
}
.snsReports {
  display: flex;
  border-bottom: 1px solid colors.$BLACK;
  padding: 15px;
  justify-content: space-between;
  width: 1500px;
}
.naverTitle{
  margin-right: 86px;
}
.faceBookTitle{
  margin-right: 73px;
}
.snsTitle{
  margin-right: 100px;
}
.totalReport {
  display: flex;
  color: blue;
  padding: 15px;
  justify-content: space-between;
  border-bottom: 1px solid colors.$BLACK;
  width: 1500px;
}
