@use '/src/styles/constants/colors';

.mediaDataTable {
  width: 80%;
  height: 60%;
  overflow: scroll;
  overflow-y: hidden;
  font-size: 12px;
  background-color: colors.$WHITE;

  &::-webkit-scrollbar {
    width: 60px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d1d8dc;
    border-radius: 10px;
  }

  .mediaDataIndex {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 15px;
    border-top: 1px solid colors.$GRAYD;
    border-bottom: 1px solid colors.$GRAYD;

    th {
      width: 70px;
      color: colors.$GRAYA;
      text-align: right;
    }
  }
}
