@use '/src/styles/constants/colors';

.mediaData {
  width: 100%;

  .title {
    padding-bottom: 20px;
    font-size: large;
    font-weight: 600;
  }

  .trendWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    height: 900px;
    background-color: colors.$WHITE;
    border-radius: 20px;

    .trendChart {
      width: 90%;
      max-width: 800px;
      height: 100%;
    }

    .trendDetailWrap {
      width: 80%;
      height: 60%;
      overflow: scroll;
      overflow-y: hidden;
      font-size: 12px;

      &::-webkit-scrollbar {
        width: 60px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d1d8dc;
        border-radius: 10px;
      }
    }

    .trendIndex {
      display: flex;
      justify-content: space-between;
      width: 1000px;
      padding: 15px;
      border-top: 1px solid colors.$GRAYD;
      border-bottom: 1px solid colors.$GRAYD;

      th {
        width: 70px;
        color: colors.$GRAYA;
        text-align: right;
      }
    }
  }
}

.total {
  color: colors.$PRIMARY;
}
