@use '/src/styles/constants/colors';

.mediaSumWrap {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  padding: 14px;
  border-bottom: 1px solid colors.$GRAYD;

  td {
    :first-child {
      display: none;
    }
  }
}

.snsDetail {
  width: 110px;
  text-align: right;
}

.snsTitle {
  width: 110px;
  text-align: left;
}
