@use '/src/styles/constants/colors';

.containerWrapper {
  padding: 20px;
  background-color: #f6f7f8;

  .title {
    margin-bottom: 30px;
    font-size: large;
    font-weight: 600;
    color: colors.$GRAY3;
  }

  .itemWrapper {
    padding: 30px;
    background-color: colors.$WHITE;
    border-radius: 20px;

    .itemTop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .adStateButton {
        padding: 0 15px;
        border: 1px solid colors.$GRAYD;
        border-radius: 10px;
      }

      .createButton {
        padding: 10px 15px;
        color: colors.$WHITE;
        background-color: #586cf5;
        border-radius: 10px;
      }
    }

    .itemGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
  }
}
