@use '/src/styles/constants/colors';

.containerWrapper {
  padding: 40px;
  background-color: #f6f7f8;

  .title {
    padding-bottom: 20px;
    font-size: large;
    font-weight: 600;
    color: colors.$GRAY3;
  }

  .itemWrapper {
    padding: 40px;
    background-color: colors.$WHITE;
    border-radius: 20px;

    .itemTop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .toggleButton {
        .selectedToggle {
          position: relative;
          padding: 10px 30px 10px 20px;
          margin-bottom: 5px;
          text-align: left;
          border: 1px solid colors.$GRAYD;
          border-radius: 10px;

          .arrowIcon {
            position: absolute;
            right: 0;
          }
        }

        .offToggle {
          display: none;
        }

        .onToggle {
          display: block;
          border: 1px solid colors.$GRAYD;
        }
      }

      .adStateButton {
        padding: 0 15px;
        border: 1px solid colors.$GRAYD;
        border-radius: 10px;
      }

      .createButton {
        height: 40px;
        padding: 10px 15px;
        color: colors.$WHITE;
        background-color: #586cf5;
        border-radius: 10px;
      }
    }

    .itemGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
  }
}
