@use '/src/styles/constants/colors';

.toggleItem {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid colors.$GRAYD;

  button {
    width: 100%;
    padding: 10px 20px;

    &:hover {
      background-color: colors.$GRAYD;
    }
  }
}
